<div>
    <p>Titre : {{currentProject.title}}</p>

    <p>Année : {{currentProject.year}}</p>

    <p>Identifiant : {{currentProject.id}}</p>

    <p>Description : {{currentProject.description}}</p>


    <p>Projets :<br />
    <ul>
        <li ng-repeat="user in currentProjectUsers"><a ng-href="#/users/{{user.UserId}}">Id : {{user.UserId}}, Role : {{user.name}}</a></li>
    </ul></p>
    <input type="submit" ng-click="remove(currentProject.id)" value="Supprimer"/>
    <p><br />Ajout de rôles :
    <div ng-repeat="user in users"><input ng-model="userCheck" type="checkbox"> {{user.name}} <input ng-show="userCheck" ng-model="role" type="text">
        <input type="submit" ng-show="userCheck" ng-click="assignation(user, role)" value="Ajouter"/> </div>
    </p>
</div>